@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

pre {
    border-radius: 10px !important;
    font-size: 75% !important;
}

code {
    border-radius: 10px !important;
}
